---
// Reemplaza ExperienceItem por SkillItem
import SkillItem from "./SkillItem.astro"

const SKILLS = [
  {
    "skill": "Web Scraping",
    "area": "Recolección de Datos",
    "description": "Extracción automatizada de información desde sitios web para análisis y consolidación de datos."
  },
  {
    "skill": "ETL",
    "area": "Integración de Datos",
    "description": "Diseño e implementación de procesos ETL para consolidar y transformar datos de múltiples fuentes."
  },
  {
    "skill": "SQL",
    "area": "Consultas y Modelado de Datos",
    "description": "Extracción, transformación y modelado de datos relacionales mediante consultas optimizadas y desarrollo de KPIs estratégicos."
  },
  {
    "skill": "Data Warehouse",
    "area": "Almacenamiento de Datos",
    "description": "Diseño y gestión de arquitecturas de almacenamiento optimizadas para reporting y analítica empresarial."
  },
  {
    "skill": "Python",
    "area": "Análisis y Limpieza de Datos",
    "description": "Automatización de análisis exploratorios, limpieza avanzada y visualización con Pandas, Seaborn y Jupyter."
  },
  {
    "skill": "Power BI",
    "area": "Visualización de Datos",
    "description": "Diseño de dashboards interactivos con DAX, filtros dinámicos y storytelling visual para decisiones estratégicas."
  },
  {
    "skill": "Narrativa con Datos",
    "area": "Comunicación Efectiva",
    "description": "Comunicación de hallazgos mediante storytelling claro y accionable para equipos técnicos y no técnicos."
  }
]

---

<ol class="relative mt-16">
  {
    SKILLS.map((skill) => (
      <li>
        <SkillItem {...skill} />
      </li>
    ))
  }
</ol>
